a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

@font-face {
	font-family: Campton;
	src: url("font/Rene.Bieder_Campton.Light.otf") format("opentype");
}


body{
	/*background-image:url('img/TimeTuck_logo.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;*/
	background-color:#97D461;
}

.popup-position{
	display:none;
	position:fixed;
	top:0;
	left:0;
	background-color:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	z-index:2;
}

#popup-wrapper{
	width:500px;
	margin:70px auto;
	text-align:left;
}

#popup-container{
	/*background-color:#FFF;
	padding:20px;*/
}

/* NOT NEEDED? */
#wrapper{
	width:1000px; 
	margin:40px auto;
	text-align:left;
}

.a{
	display:block;	
}

a{
	color:inherit;
	text-decoration:none;

}

.main{
	width:1000px;
	height:auto;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	z-index:1;
}

.imgBox{
	width:1000px;
	height:500px;
	background-image:url('img/TimeTuck_logo.jpg');
	background-repeat:no-repeat;
	background-position:center;
	background-color:#97D461;
	float:left;
}
.mainButton{
	width:500px;
	height:50px;
	text-align:center;
	float:left;
	line-height:50px;
	font-family: Campton;
	margin-left:25%; /* depends on the width of mainButton and main */
	font-size:24px;
}

button{
	width:500px;
	height:50px;
	text-align:center;
	float:left;
	line-height:50px;
	font-family: Campton;
	outline:0;
	background:none;
	border:0;
	font-size:24px;
}

button:hover{
	cursor:pointer;
}

/* fill the entire div box so that it can be clicked */
a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.wrapper{
	width:1000px;
	height:auto;
	float:left;
}

.footerButton{
	width:200px;
	height:50px;
	text-align:center;
	float:left;
	line-height:50px;
	color:#555555;
	font-family: Campton;
}

.header{
	font-weight:bold;
	font-family: Campton;
	font-size: 75px;
	color:#97D461;
	height:150px;
	border: 10px solid #CCCCCC;
	border-top:none;
	border-left:none;
	border-right:none;
	line-height:150px;
}

/* box title used with fill-div */
.title{
	height:auto;
	width:360px;
}
.centerPage{
	text-align:center;
	height:auto;
	margin-top:25%;	

}
.textBox{
	padding:20px;
	font-family: Campton;
	margin-top:75px;
	margin-left:200px;
	margin-right:200px;
	color:#808080;
	font-size:20px;
}

/* Inner box (inside textBox) */
.textBox2{
	font-family: Campton;
	padding:20px;
	margin-left:200px;
	font-size:20px;
}
.questionBox{
	font-weight:bold;
	width:1000px;
	
}
.answerBox{
	margin-top:30px;
	margin-bottom:40px;
	width: 1000px;
	background-color:#EAEAEA;
	padding:20px;
	font-size:20px;
	color:#808080;
}

